.Notifications {
  border: 2px dashed #e1354b;
  padding: 20px 5px;
  margin: 10px;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

ul {
  padding-top: 15px;
  padding-left: 40px;
}

ul li[data-priority='default'] {
  color: blue;
}

ul li[data-priority='urgent'] {
  color: red;
}
